---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import "variables-grid",
		"breakpoints",
		"home-page",
		"projects",
		"blog-page";


.construction{
	font-size: 1.3em;
}

.coming-soon{
	margin: 0 auto;
	margin-right: 1em;
	color: #909090;
}

body{
	margin-top: 0;
	font-family: 'Roboto', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: $text-color;
	line-height: 1.5;

	p{
		margin-top: 0.3em;
		margin-bottom: 0.7em;
	}

	header, .page-content{
		max-width: 1300px;
		margin: 0 auto;
	}
}

h1{
	font-family: 'Exo+2', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 400;
	//font weight and such in _breakpoints.scss
}

h2{
	color: $prime-color;
	font-family: 'Exo+2', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 auto;
	font-size: 1.1em;
	font-weight: 700;
}

a{
	text-decoration: underline;
	color: $text-color;

	&:hover{
		color: $prime-color;
	}
}

.black-text{
	color: black;
}

.sec-font{
	font-family: 'Maven Pro', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.bg-font{
	background-color: #EBEBEB;
	padding: 0 0.1em 0 0.35em;
	margin: 0 0.15em 0 0.1em;
	color: #000;
}

.drop-shadow{
	box-shadow: 1px 1px 5px #909090;

	img{
		box-shadow: 1px 1px 5px #909090;
	}
}

.clear{
	clear: both;
}

.wrapper{
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	overflow: hidden;
}

.social-icon{
	width: 40px;
	float: left;
	margin: 1.5em 2em 0 0;
}


// NAVIGATION

nav{
	overflow: hidden;

	h2{
		margin: 0.5em 1em;
		text-decoration: none;
		display: inline-block;
	}

	a{
		text-decoration: none;
	}
}

.sub-nav{
	@extend .col-sm-12;
	@extend .col-md-11;
	@extend .col-lg-11;
	
	box-sizing: border-box;

	a{
		margin-right: 1.2em;
	}
}


//HEADER

header{
	background-color: #fff;
}

.header-logo{

	h2{
		color: $prime-color;
		font-family: 'Dosis', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		margin: 0.5em 0 0.3 1em;
		font-size: 1.9em;
		font-weight: 300;
	}
}

.site-nav{

	h2{
		display: inline-block;
		margin: 0 auto;
	}
}

.trigger{
	box-sizing: border-box;
	overflow: hidden;

	.navi-one{
		text-align: center;
	}
}

.active{

	a{
		color: $prime-color;
		text-decoration: underline;
	}
	
}

// LIGHTBOX STUFF
.lightbox{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	overflow: scroll;

	img{
		width: 80%;
		display: block;
	}
}


//FOOTER

footer{
	background-color: #000;
	margin-top: 2em;
	min-height: 15px;
	box-sizing: border-box;
	padding-left: 4em;
}



