---
# Only the main Sass file needs front matter (the dashes are enough)
---
// @charset "utf-8";

@import "variables-grid",
		"breakpoints",
		"home-page",
		"projects";


.construction{
	font-size: 1.3em;
}

body{
	margin-top: 0;
	font-family: 'Dosis', Verdana, Geneva, sans-serif;
	color: $text-color;
	line-height: 1.5;
}

h1{
	font-family: 'Maven Pro', Verdana, Geneva, sans-serif;
	font-size: 2.1em;
	margin: 0.2em auto 0 auto;
}

h2{
	color: $prime-color;
	font-family: 'Maven Pro', Verdana, Geneva, sans-serif;
	margin: 0 auto;
	font-size: 1.3em;
}

a{
	text-decoration: underline;
	color: $text-color;

	&:hover{
		color: $prime-color;
	}
}

.black-text{
	color: black;
}

.wrapper{
	width: 100%;
	max-width: 2000px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 1em;
	overflow: hidden;
}



//HEADER

nav{
	overflow: hidden;

	h2{
		margin: 0.5em 1em;
		text-decoration: none;
		display: inline-block;
	}

	a{
		text-decoration: none;
	}
}

header{
	background-color: #fff;
}

.header-logo{
	float: left;

	h2{
		color: $prime-color;
		font-family: 'Dosis', Verdana, Geneva, sans-serif;
		margin: 0.5em 0 0.3 1em;
		font-size: 1.9em;
		font-weight: 300;
	}
}

.site-nav{

	h2{
		display: inline-block;
		margin: 0 auto;
	}
}

.trigger{
	float: left;
}



//FOOTER

footer{
	background-color: black;
	margin-top: 2em;
	min-height: 50px;
}


