---
# Only the main Sass file needs front matter (the dashes are enough)
---
// @charset "utf-8";

@import "variables", 
		"header",
		"footer",
		"grid",
		"home-page";

body{
	margin-top: 0;
	font-family: 'Dosis', Verdana, Geneva, sans-serif;
}

h2{
	color: #e8584e;
	margin: 0 auto;
	font-size: 1.9em;
	font-weight: 300;
	margin: 0.5em 1em;
	text-decoration: none;
	display: inline-block;
}

a{
	text-decoration: none;
}

.black-text{
	color: black;
}

.wrapper{
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 1em;
	padding: 0.5em;
	overflow: hidden;
}


