
<nav class="sub-nav">
	
	<!-- CITIES ACROSS AMERICA -->

	{% if page.url == '/cities/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/cities/"> Cities Across America </a>

	</span>




	<!-- NECTAR & ROOT -->

	{% if page.url == '/nectar/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/nectar/"> Nectar & Root </a>

	</span>




	<!-- MARATHON HEALTH -->

	{% if page.url == '/marathon-health/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/marathon-health/"> Marathon Health </a>

	</span>

</nav>

