
<nav class="sub-nav">
	
	<!-- CITIES ACROSS AMERICA -->

	{% if page.url == '/cities/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

			<a href="/cities/"> Cities Across America </a>

		</span>




	<!-- MARATHON HEALTH -->

	<!-- {% if page.url == '/cities/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %} -->

			<span class="coming-soon"> - Project Coming Soon - </span>

		<!-- </span> -->




	<!-- MARATHON HEALTH -->

	<!-- {% if page.url == '/cities/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %} -->

			<span class="coming-soon"> - Project Coming Soon - </span>

		<!-- </span> -->

</nav>

