<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- PHONE META TAG -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/png" href="/images/logo-favicon.png">
  
  <!-- GOOGLEFONTS -->
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,300|Exo+2:700|Roboto' rel='stylesheet' type='text/css'>

  <!-- NORMALIZE -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
