
<nav class="sub-nav">
	
	<!-- LEVEL UP LEARNING -->

	{% if page.url == '/level-up-learning/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/level-up-learning/"> LevelUp Learning </a>
	</span>




	<!-- HOME SLICE PIZZA -->

	{% if page.url == '/home-slice/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/home-slice/"> Home Slice Website </a>

	</span>




	<!-- RECSPORTS -->

	{% if page.url == '/recsports/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/recsports/"> RecSports </a>

	</span>




	<!-- LINKEDIN -->

	{% if page.url == '/linkedin/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/linkedin/"> LinkedIn Redesign </a>

	</span>




	<!-- HISTORYRUN -->

	{% if page.url == '/historyrun/' %} 
		<span class="active">

	{% else %}

		<span>

	{% endif %}

		<a class="project-a" href="/historyrun/"> HistoryRun </a>

	</span>

</nav>

