
$tot-width: 100%;
$num-col: 12;
$gut-width: 3%;



$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col; 
//remember PEMAS //ALWAYS HAVE SPACE between $var - #

         // col-within = # of columns within element
@mixin grid($col-within){
  width: ($col-within * $ind-col-width) + ($gut-width *($col-within - 1 ));
}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15{
  width: 100%;
  margin-right: $gut-width;
}


@media (min-width: 650px){
  
  .col-md-1{
    @include grid(1);
    margin-right: $gut-width;
  }

  .col-md-2{
    @include grid(2);
    margin-right: $gut-width;
  }

  .col-md-3{
    @include grid(3);
    margin-right: $gut-width;
  }

  .col-md-4{
    @include grid(4);
    margin-right: $gut-width;
  }

  .col-md-5{
    @include grid(5);
    margin-right: $gut-width;
  }

  .col-md-6{
    @include grid(6);
    margin-right: $gut-width;
  }

  .col-md-7{
    @include grid(7);
    margin-right: $gut-width;
  }

  .col-md-8{
    @include grid(8);
    margin-right: $gut-width;
  }

  .col-md-9{
    @include grid(9);
    margin-right: $gut-width;
  }

  .col-md-10{
    @include grid(10);
    margin-right: $gut-width;
  }

  .col-md-11{
    @include grid(11);
    margin-right: $gut-width;
  }

  .col-md-12{
    @include grid(12);
    margin-right: $gut-width;
  }

  .col-md-13{
    @include grid(13);
    margin-right: $gut-width;
  }

  .col-md-14{
    @include grid(14);
    margin-right: $gut-width;
  }

  .col-md-15{
    @include grid(15);
    margin-right: $gut-width;
  }
  
}





@media (min-width: 760px){
  
  .col-lg-1{
    @include grid(1);
    margin-right: $gut-width;
  }

  .col-lg-2{
    @include grid(2);
    margin-right: $gut-width;
  }

  .col-lg-3{
    @include grid(3);
    margin-right: $gut-width;
  }

  .col-lg-4{
    @include grid(4);
    margin-right: $gut-width;
  }

  .col-lg-5{
    @include grid(5);
    margin-right: $gut-width;
  }

  .col-lg-6{
    @include grid(6);
    margin-right: $gut-width;
  }

  .col-lg-7{
    @include grid(7);
    margin-right: $gut-width;
  }

  .col-lg-8{
    @include grid(8);
    margin-right: $gut-width;
  }

  .col-lg-9{
    @include grid(9);
    margin-right: $gut-width;
  }

  .col-lg-10{
    @include grid(10);
    margin-right: $gut-width;
  }

  .col-lg-11{
    @include grid(11);
    margin-right: $gut-width;
  }

  .col-lg-12{
    @include grid(12);
    margin-right: $gut-width;
  }

  .col-lg-13{
    @include grid(13);
    margin-right: $gut-width;
  }

  .col-lg-14{
    @include grid(14);
    margin-right: $gut-width;
  }

  .col-lg-15{
    @include grid(15);
    margin-right: $gut-width;
  }
  
}



