
@import "variables-grid";


nav{
	overflow: hidden;

	h2{
		margin: 0.5em 1em;
		text-decoration: none;
		display: inline-block;
	}

	a{
		text-decoration: none;
	}
}

header{
	background-color: #fff;
}

.header-logo{
	float: left;
}

.site-nav{

	h2{
		display: inline-block;
		margin: 0 auto;
	}
}

.trigger{
	float: left;
}

