
@import "variables-grid";

.main-banner{
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
	padding: 0.5em;
	
	background-image: url('../images/two-desktops.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;

	h1, h2{
		font-family: 'Dosis', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-weight: 400;
	}

	// gradient overlay
	&:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#fff,#000);
		opacity: .3; 
  }
}

.project-btn{
	margin: 1em 0.8em 0 0;
	padding: 0.8em 1.2em;
	border-radius: 4%;
	background-color: lighten($text-color, 45%);
	display: inline-block;
}

.banner-message{
	@extend .col-lg-4;
	@extend .col-md-5;

	float: left;
	margin: 29% 5%;

	background: rgba(255, 255, 255, 0.8);
	padding: 0.5em 1.7em 2em 1.7em;
	z-index: 2;
	position: absolute;
}

.text-link{
	text-decoration: underline;
}

