
@import "variables-grid";

.main-banner{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	padding: 0.5em;
}

.project-btn{
	margin: 1em 0.8em 0 0;
	padding: 0.8em 1.2em;
	border-radius: 4%;
	background-color: lighten($text-color, 45%);
	display: inline-block;
}

.banner-message{
	width: 50%;
	max-width: 450px;
	float: left;
	margin: 0.8em 5%;
}

.text-link{
	text-decoration: underline;
}

