
@import "variables";

.homepage-nav-container{
	float: left;
	width: 55%;

	background-color: blue;
}

.project-btn{
	width: 45%;
	height: 250px;
	margin-right: 5%;
	background-color: green;
	display: inline-block;
	float: left;
	margin-bottom: 2em;
}

