
@import "variables";


.sub-nav{
	width: 100%;
	margin: 0.2em 0 1em 5%;

	a{
		margin-right: 1em;
	}

	span{
		margin-right: 0.5em;
		color: $prime-color;
		font-weight: 300;
	}
}

.project-container{
	box-sizing: border-box;
	padding: 0 2em;
	padding-left: 5%;
}

.project-banner{
	width: 100%;
	margin-bottom: 2em;
	overflow: hidden;
	background-color: #fff;
}

.project-desc{
	width: 45%;
	float: left;
	margin-right: 2.5%;
}

.project-image{
	width: 45%;
	float: left;
	margin-top: 1.8em;
	height: 200px;
	background-color: lightblue;
}

.project-process{
	width: 80%;
	box-sizing: border-box;
	padding: 0 5%;
	margin: 5em auto;
	overflow: hidden;
	border-left: 1px solid $prime-color;
}


