
@import "variables-grid";


.sub-nav{
	width: 80%;
	margin: 0.2em 0 1em 5%;

	a{
		margin-right: 1em;
	}

	span{
		margin-right: 0.5em;
		color: $prime-color;
		font-weight: 300;
	}
}

.project-container{
	box-sizing: border-box;
	padding: 0 2em;
	padding-left: 5%;
}

.project-banner{
	@extend .col-md-11;
	@extend .col-lg-12;
	
	margin-bottom: 2em;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid $prime-color;
	padding-bottom: 1.6em;

	.project-desc{
		@extend .col-lg-5;

		margin-bottom: 0.2em;

		p{
			font-size: 1.1em;
		}
	}
}

.project-process{
	@extend .col-md-12;
	@extend .col-lg-6;

	box-sizing: border-box;
	padding: 0 3%;
	overflow: hidden;
	float: left;

	.project-desc{
		@extend .col-lg-12;
		margin: 1.8em $gut-width 2em 0;
		border-left: 1px solid $prime-color;
		padding: 0 1.5em;

		p{
			font-size: 1em;
		}
	}
}

.project-desc{
	@extend .col-md-12;
// large col sizes underneath project banner and process classes

	float: left;
	margin-right: $gut-width;
	margin-bottom: 5em;
	box-sizing: border-box;

	img:nth-of-type(1){
		margin-right: 2%;
	}

	p{
		line-height: 1.5;
		margin: 0.8em 0;
	}
}

.project-image, .project-image-tall, .project-image-device{
	margin-right: 0;
	float: left;
	margin-top: 1.8em;
}

.project-image, .project-image-device{
	@extend .col-md-12;
	@extend .col-lg-6;

	margin-bottom: 3em;
}

.project-image-banner{
	@extend .col-md-12;
	@extend .col-lg-7;
}

.project-image-tall{
	@extend .col-md-9;
	@extend .col-lg-5;

	// margining in _breakpoints.scss
}

.project-image-taller{
	@extend .col-md-6;
	@extend .col-lg-3;

	// margining in _breakpoints.scss
}

.mini-imgs{
	width: 48%;
	margin: 0;
	float: left;
}

.long-mini-imgs{
	width: 99%;
	margin-top: 2em;
}




