
@import "variables-grid";


.project-container{
	@extend .col-sm-12;
	@extend .col-md-12;

	box-sizing: border-box;
	overflow: hidden;
}



// PROJECT BANNER
// ———————————————————————————————————————————

.project-banner{
	width: 99%;
	
	margin: 0 auto;
	// margin-bottom: 4em;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid $prime-color;
	padding-bottom: 1.6em;
}

.banner-desc{
	@extend .col-sm-1;
	@extend .col-md-12;
	@extend .col-lg-5;

	float: left;
	margin-right: $gut-width;
	box-sizing: border-box;
}

.banner-image{
	@extend .col-sm-1;
	@extend .col-md-12;
	@extend .col-lg-7;

	margin-top: 1em;
	float: left;
	box-sizing: border-box;
}



// PROJECT PROCESS DESCRIPTIONS
// ———————————————————————————————————————————

.project-desc{
	width: 99%;
	max-width: 1000px;
	margin: 0 auto;

	// margin in _breakpoints.scss
	box-sizing: border-box;
	padding: 1em 0;

	h2{
		margin-top: 3.5em;

		&:first-of-type{
			margin-top: 0;
		}
	}

	img{
		display: block;
		margin-bottom: 1em;
	}
}



// PROJECT IMAGES
// ———————————————————————————————————————————


// lone images that take up full row
.image-one{
	width: 100%;
	max-width: 700px;
}
// lone image container in _breakpoints.scss


.image-double{
	float: left;
	box-sizing: border-box;

	// width and right margin in _breakpoints.scss
}

// container of two images
.double-container{
	clear: both;
	margin: 1.5em auto;
	overflow: hidden;
	float: left;

	a:last-of-type{
		
		img{
			margin-right: 0;
		}
	}
}


// images that are one of a trio
.image-third{
	float: left;
	box-sizing: border-box;

	// width and right margin in _breakpoints.scss
}

// container of trio sets of images
.trio-container{
	clear: both;
	margin: 1.5em auto;
	overflow: hidden;
	float: left;

	a:last-of-type{
		
		img{
			margin-right: 0;
		}
	}
}

// images without clear borders
.image-border{
	border: 0.8px solid $accent-color;
	padding: 5px;
}





