
$prime-color: #e8584e;

$text-color: #272727;

$accent-color: #E6E6E6;


// GRID STRUCTURE
$tot-width: 100%;
$num-col: 12;
$gut-width: 3%;



$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col; 
//remember PEMAS //ALWAYS HAVE SPACE between $var - #

         // col-within = # of columns within element
@mixin grid($col-within){
  width: ($col-within * $ind-col-width) + ($gut-width *($col-within - 1 ));
}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15{
  width: 100%;
}


@media (min-width: 420px){
  
  .col-md-1{
    @include grid(1);
  }

  .col-md-2{
    @include grid(2);
  }

  .col-md-3{
    @include grid(3);
  }

  .col-md-4{
    @include grid(4);
  }

  .col-md-5{
    @include grid(5);
  }

  .col-md-6{
    @include grid(6);
  }

  .col-md-7{
    @include grid(7);
  }

  .col-md-8{
    @include grid(8);
  }

  .col-md-9{
    @include grid(9);
  }

  .col-md-10{
    @include grid(10);
  }

  .col-md-11{
    @include grid(11);
  }

  .col-md-12{
    @include grid(12);
  }
  
}





@media (min-width: 978px){
  
  .col-lg-1{
    @include grid(1);
  }

  .col-lg-2{
    @include grid(2);
  }

  .col-lg-3{
    @include grid(3);
  }

  .col-lg-4{
    @include grid(4);
  }

  .col-lg-5{
    @include grid(5);
  }

  .col-lg-6{
    @include grid(6);
  }

  .col-lg-7{
    @include grid(7);
  }

  .col-lg-8{
    @include grid(8);
  }

  .col-lg-9{
    @include grid(9);
  }

  .col-lg-10{
    @include grid(10);
  }

  .col-lg-11{
    @include grid(11);
  }

  .col-lg-12{
    @include grid(12);
  }
  
}





