<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <nav class="sub-nav">
      
      <span> Most Recent: </span>

      <a href="/level-up-learning/"> LevelUp Learning </a>

      <a href="/home-slice/"> Home Slice Website </a>

      <a href="/recsports/"> RecSports </a>

      <a href="/linkedin/"> LinkedIn Redesign </a>

      <span> Older than those: </span>

      <a href="/historyrun/"> HistoryRun </a>

      <a href="/cities/"> Cities Across America </a>

    </nav>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
